.dot-completed {
  height: 10px;
  width: 10px;
  background-color: #28a745;
  border-radius: 50%;
  display: inline-block;
}

.dot-in-progress {
  height: 10px;
  width: 10px;
  background-color: #ffc107;;
  border-radius: 50%;
  display: inline-block;
}

.dot-seeding {
  height: 10px;
  width: 10px;
  background-color: #28a745;
  border-radius: 50%;
  display: inline-block;
}

.smaller {
  font-size: smaller;
}

.small {
  font-size: x-small;
}
