<hr *ngIf="transfers.length === 0" class="mt-0">
<div class="text-muted text-center mt-4" *ngIf="transfers.length === 0">
  No transfers whatsoever!
</div>
<div class="table-container">
  <table *ngIf="transfers" class="table table-hover file-table">
    <tbody class="border-bottom">
    <tr *ngFor="let transfer of transfers">
      <td>
        <div class="d-flex align-items-center ml-2 mr-2">
          <div [class.dot-completed]="transfer.status === 'COMPLETED'" [class.dot-in-progress]="transfer.status !== 'COMPLETED'" [class.dot-seeding]="transfer.status === 'SEEDING'"></div>
          <div>
            <div class="pl-3" style="max-width: 475px; white-space: nowrap;">
              {{transfer.name.length > 55 ? transfer.name.slice(0, 55) + '...' : transfer.name }}
            </div>
            <div class="small text-muted pl-3">
              <span *ngIf="transfer.status === 'COMPLETED'">Completed ({{ transfer.finished_at | amTimeAgo}})</span>
              <span *ngIf="transfer.status === 'SEEDING'">Completed and seeding ({{ transfer.finished_at | amTimeAgo}})</span>
              <span *ngIf="transfer.status !== 'COMPLETED' && transfer.status !== 'COMPLETING' && transfer.status !== 'SEEDING'">{{ transfer.peers_connected}} peers | downloaded: {{ transfer.downloaded | fileSize}} ({{ transfer.percent_done }}%) | uploaded: {{ transfer.uploaded | fileSize}} | availability: {{ transfer.availability}}%</span>
              <span *ngIf="transfer.finished_at && transfer.status === 'COMPLETING'">Finishing...</span>
            </div>
          </div>
        </div>
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
