<!--loading spinner-->
<div *ngIf="loading" class="text-center mt-5 text-primary"><i class="fa fa-circle-o-notch fa-spin"></i></div>

<!--list of files-->
<div *ngIf="!loading">
  <table class="table table-hover" style=" table-layout:fixed; width: 100%; overflow-y: scroll">
    <thead>
    <tr>
      <th style="max-width: 20px; word-wrap: break-word; padding-bottom: 16px;" class="pr-1">
        <div class="d-flex align-items-center">
          <span class="pretty p-default mr-0">
            <input type="checkbox" [checked]="checkAll" (change)="checkAllFiles()" />
            <span class="state p-warning">
              <label></label>
            </span>
          </span>
        </div>
      </th>
      <th style="width: 93%; overflow-x: hidden; white-space: nowrap;" class="pl-0" colspan="2">
        <div class="d-flex align-items-center">
          <div class="ml-2 mr-auto">
              {{getCurrentFolder().name.length > 38 ? getCurrentFolder().name.slice(0, 38) + '...' : getCurrentFolder().name }}
          </div>
          <button *ngIf="breadcrumbs.length > 0" class="ml-1 btn btn-sm btn-primary action-btn" (click)="goUpLevel()"><i class="fa fa-level-up"></i></button>
          <button [disabled]="filesChecked.length === 0" class="ml-1 btn btn-sm btn-outline-secondary action-btn fa fa-trash-o" (click)="deleteSelected()" placement="top" ngbTooltip="Delete File(s)"></button>
          <button [disabled]="filesChecked.length === 0" class="ml-1 btn btn-sm btn-outline-secondary action-btn fa fa-file-zip-o" (click)="zipSelected()" placement="top" ngbTooltip="Zip & Download Files(s)"></button>
          <button [disabled]="filesChecked.length === 0" class="ml-1 btn btn-sm btn-outline-secondary action-btn fa fa-link" (click)="copyDownloadLink()" placement="top" ngbTooltip="Copy Link"></button>
          <button [disabled]="filesChecked.length === 0" class="ml-1 btn btn-sm btn-outline-secondary action-btn fa fa-arrow-circle-o-right" (click)="openFileMoveModal()" placement="top" ngbTooltip="Move File(s)"></button>
          <button class="btn btn-sm btn-outline-secondary action-btn ml-1" (click)="openAddFolderModal()" placement="top" ngbTooltip="Add Folder"><i class="fa fa-folder-o"></i></button>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of files">
      <td class="align-middle mr-0 border border-bottom-1 border-left-0 border-right-0">
        <span class="pretty p-default mr-0" (click)="checkFile(file)">
          <input type="checkbox" [checked]="filesChecked.indexOf(file.id) !== -1" />
          <span class="state p-warning">
            <label></label>
          </span>
        </span>
      </td>
      <td class="align-middle pointer pt-0 pb-0 pl-0 border border-bottom-1 border-left-0 border-right-0" style="white-space: nowrap; min-width: 455px;" (click)="file.file_type === 'FOLDER' ? openFolder(file) : checkFile(file)">
        <div class="d-flex align-items-center">
          <span class="ml-2 mr-3">
            <i class="fa" [class.fa-folder-o]="file.file_type === 'FOLDER'" [class.fa-file-video-o]="file.file_type === 'VIDEO'" [class.fa-file-o]="file.file_type !== 'FOLDER' && file.file_type !== 'VIDEO'"></i>
          </span>
          <div>
            <div style="line-height: 20px;">
              {{file.name.length > 50 ? file.name.slice(0, 50) + '...' : file.name }}
            </div>
            <div style="line-height: 15px;" class="text-muted"><small>{{file.size | fileSize}}</small></div>
          </div>
        </div>
      </td>
      <td class="border border-top-0 border-left-0 border-right-0">
        <div class="d-flex justify-content-end">
          <button
            [disabled]="file.id === downloadLoading"
            class="btn btn-sm btn-outline-secondary"
            (click)="fileDownload(file)" appClickStopPropagation>
            <i class="fa"
               [class.fa-circle-o-notch]="file.id === downloadLoading"
               [class.fa-spin]="file.id === downloadLoading"
               [class.fa-cloud-download]="file.id !== downloadLoading"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center text-muted" *ngIf="files && files.length === 0">
    No files whatsoever!
  </div>
</div>
